<div class="container mt-10">
  <% if @coffees.empty? %>
    <h3 style='margin: 200px 10px 10px 10px; text-align: center;'> Não existem cafés cadastrados</h3>
    <%= link_to "Cadastrar cafe", new_coffee_path, :class => "btn-ghost-ocr", :method => :get %>
  <% else %>
    <% @coffees.each do |coffee| %>
      <div class="card-product mt-3">
        <%= image_tag "coffee-pack.png",style:"width: 150px; height: 150px; crop: :fill"%>
        <div class="card-product-infos">
          <h4><strong><%= link_to coffee.name, coffee_path(coffee) %></strong></h4>
          <h6><%= coffee.brand %></h6>
        </div>
        <% if user_signed_in? && coffee.user_id == current_user.id %>
        <div class="container">
          <div class="icon row">
            <%= link_to image_tag('edit.png', style:"width: 28px;"), edit_coffee_path(coffee)  %>
            <%= link_to image_tag('delete.png', style:"width: 25px;"), coffee_path(coffee), method: :delete  %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>