<% content_for :head do %>
  <meta property="og:url"           content="<%= coffee_url(@coffee) %> " />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%= @coffee.name %>"/>
  <meta property="og:description"   content="Descubra este cafe" />
	<meta property="og:image"         content="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />

<% end %>

<div class="top-images" id="banner">
  <%= image_tag "field.jpg", style:"width: 100%; height: 25%;"%>
  <div class="bottom-image", style="border-radius: 0px 75px 0px 0px; background-color: white; margin-top: 20px; width: 100%; margin: 0 auto;">
    <%= image_tag "coffee-pack.png", id:"coffee-label", style:"width: 50%; height: 30%; margin-left: 10px;"%>
      <div class="rating">
        <% if @average == 0 %>
          <div>
            <h5>Café ainda não avaliado</h5>
          </div>
        <% else %>
          <h3 style="margin-left: 10px;"><strong><%= @average %></strong></h3>
            <i class="fas fa-star", style="color: #fece02;"></i>
        <% end %>
      </div>
    </div>
  <div class="container">


    <div class="coffee-info desc d-flex row">
      <div class="col-10">
        <ul style="padding-left: 9px;">
          <li><h4><small><%= @coffee.brand %></small></h4></li>
          <li><h3><strong><%= @coffee.name %></strong></li></h3>
          <li>Origem: <%= @coffee.origin.name %></li>
          <li>Fazenda: <%= @coffee.farm %></li>
          <li>Torra: <%= @coffee.roast %></li>
          <li>Perfil sensorial: <%= @coffee.sensory %></li>
          <li>Gosto predominante: <%= @coffee.taste %></li>
          <li>Onde encontrar: <%= @coffee.store %> - <%= @coffee.address %></li>
          <li>Adicionado por: <strong><%= link_to @coffee.user.first_name, user_path(@coffee.user), style:"color: black; margin-left: 0px;" %></strong></li>
        </ul>
      </div>

      <% if user_signed_in? && current_user.id != @coffee.user_id %>
        <% image_path =  @like.any? ? 'fas' : 'far' %>
          <%= link_to("<i class='#{image_path} fa-heart', style='color: #9a2a19;'></i>".html_safe,
                 coffee_toggle_like_path(@coffee),
                 data: {'turbo_method': :post},
                 id:'heart') %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'review' %>

<% @reviews.each do |review|  %>
    <div class="card-review">
      <div class="card-top">
        <img id="avatar" src="https://images.unsplash.com/photo-1579454824457-8f6bf05a597c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80">
        <p style="padding-left: 10px;">
          <%= link_to review.user.first_name, user_path(review.user) %>
        </p>
      </div>

      <p>
        <%= review.content %>
      </p>

      <div class="row", style="margin: 0px;">
        <p>
        <% review.rating.times do %>
          <i class="fas fa-star", style="color: #fece02;"></i>
        <% end %>
        <% (5- review.rating).times do %>
          <i class="far fa-star", style="color: #fece02;" ></i>
        <% end %>
        </p>
        <p>
          <% if user_signed_in? && current_user.id != review.user_id %>
              <% image_path =  review.review_likes.any? ? 'fas' : 'far' %>
                <p><%= link_to "<i class='#{image_path} fa-thumbs-up'></i>".html_safe,
                       review_toggle_review_like_path(review),
                       data: {'turbo_method': :post},
                       id:"review-#{review.id}" %> <span id="review-<%= review.id %>-count"><%= review.review_likes.count %></span></p>
          <% end %>
        </p>
      </div>
      <% if user_signed_in? && current_user.id == review.user_id %>
        <%= link_to image_tag('edit.png', style:"width: 20px;"), edit_coffee_review_path(@coffee, review)  %>
        <%= link_to image_tag('delete.png', style:"width: 20px;"), review_path(review), method: :delete  %>
      <% end %>
    </div>
<% end %>
