<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <li class="nav-item">
    <a class="navbar-brand mr-0" href="#">
    <%= link_to image_tag('home.png', style:"width: 30px;"), root_path %>
    </a>
  </li>
    <li class="nav-item">
    <a class="navbar-brand" href="#">
    <%= link_to image_tag('coffee.png', style:"width: 30px;"), coffees_path %>
    </a>
  </li>
     <li class="nav-item">
    <a class="navbar-brand" href="#">
    <%= link_to image_tag('camera.png', style:"width: 30px;"), ocr_path %>
    </a>
  </li>
    </li>
    <li class="nav-item">
    <a class="navbar-brand" href="#">
    <%= link_to image_tag('map.png', style:"width: 30px;"), coffee_map_path %>
    </a>
  </li>
  <li class="nav-item">
    <a class="navbar-brand" href="#">
    <% if current_user.present? %>
      <%= link_to image_tag('user.png', style:"width: 30px;"), user_path(current_user) %>
    <% else  %>
      <%= link_to image_tag('user.png', style:"width: 30px;"), new_user_session_path %>
    <% end %>
    </a>
  </li>
</div>
